* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.snow-animation-container{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
}


header {
    background-color: darkblue;
    color: white;
    text-align: center;
    grid-column: 1 / -1; /* Span all columns */
    padding: 20px;
}

header h1 {
    font-size: 2em;
    letter-spacing: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.menu-item:active {
    color: gray;
}

.menu-item:hover {
    background-color: #ddd; /* Цвет фона для пункта при наведении */
}


main {
    flex: 1 1 auto;
    margin-left: 20pt;
    grid-column: 1 / -1;

}

section {
    margin-bottom: 30px;
}

section h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

section#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section#projects article:first-child {
    width: 100%;
    margin-bottom: 0px;
}

main img {
    width: 80%;
    margin: 10px;
    display: inline-block;
    box-shadow: 10px 10px 10px rgba(204, 29, 29, 0.5);
}

section#projects article:not(:first-child){
    width: calc(50% - 10px);
    margin-bottom: 20px;
    box-sizing: border-box;
}

section#projects article {
    width: calc(50% - 10px);
    margin-bottom: 20px;
}

footer {
    background-color: darkblue;
    color: white;
    padding: 20px;
    text-align: center;
    grid-column: 1 / -1; /* Span all columns */
    width: 100%;
    height: auto;
    position: absolute;
    flex: 0 0 auto;

}

aside {
    position: fixed;
    bottom: 100px;
    right: 0px;
    color: black;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg); /* Поворот текста на 90 градусов */
    transform-origin: center;
    white-space: nowrap;
}
footer blockquote {
    font-style: italic;
    margin: 0;
    font-size: 1.2em;
    text-align: right;
}

/* Media queries for responsiveness */
@media screen and (max-width: 1200px) {
    section#projects article {
        width: calc(33.33% - 10px); /* 3 columns with spacing */
    }
}

@media screen and (max-width: 768px) {
    section#projects article {
        width: 100%;
    }

    header {
        padding: 10px;
    }
}